@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.container{
    width: 1440px;
    margin: 0 auto;
}
.hero-container{
    margin: 20px 0 50px 0;
    font-family: "Merriweather", system-ui;
    background-image: url(../images/BannerImage.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
.hero-info{
    padding: 140px 50px;
}
.top-title{
    font-size: 32px;
    font-weight: 400;
}
.main-title{
    font-size: 72px;
    font-weight: bold;
}
.offer-container{
    margin: 120px 0;
}
.offer-info{
    text-align: center;
}
.offer-title{
    font-size: 88px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: red;
    padding: 20px 0;
}
.offer-subTitle-1{
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: red;
}
.offer-subTitle-2{
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 48px;
}

.mid-container{
    background-image: url(../images/Vectorrr.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    margin-bottom: 50px;
}
.mid-info{
    width: 600px;
}
.mid-title{
    font-size: 70px;
    font-family: "Merriweather", system-ui;
    margin: 0;

}
.mid-desc{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.btn-mid{
    background-color: rgba(255, 0, 0, 0);
    border: none;
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding-top: 20px;
}

.event-container{
    background: linear-gradient(180deg, #ff000020, #ff000000);
    padding: 100px 150px;
    border-radius: 16px;
    text-align: center;
    margin: 30px 0;

}

.event-info{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 50px;
}
.event-short-title{
    color: red;
}
.btn{
    padding: 16px 32px;
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
}


.holiday-desc{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #444444;
    line-height: 32px;
}
.cs-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 150px 0;
}
.cs-info-1{
    width: 420px;
}
.cs-info-1 > h2{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: red;
}
.cs-info-1 > h1{
    font-family: "Merriweather", system-ui;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 0;
}

.cs-img{
    width: 550px;
    text-align: center;
}
.cs-img img{
    border: 15px solid red;
    border-radius: 50%;
    padding: 20px;
    
}
.cs-info-2{
    width: 300px;
}
.cs-info-2 > h2{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: red;
}
.info-text{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #444444;
}
.cs-info-2 > img{
    width: 140px;
}
.holiday-image{
    display: flex;
    justify-content: space-between;
}
.holiday-img-2{
    position: absolute;
    right: 500px; 
    /* transform: translate(-50%, -50%); */
}
.holiday-img-4{
    position: absolute;
    /* bottom: 5px; */
}
.holiday-info{
    text-align: center;
    padding-bottom: 20px;
}
.holiday-top-title{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.holiday-mid-title{
    font-family: "Merriweather", system-ui;
    font-size: 84px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 0;
}