@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.hero-container{
    margin: 20px 0 50px 0;
    font-family: "Merriweather", system-ui;
    background-image: url(../images/BannerImage.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
.hero-info{
    padding: 140px 50px;
}
.top-title{
    font-size: 32px;
    font-weight: 400;
}
.main-title{
    font-size: 72px;
    font-weight: bold;
}
.offer-info{
    text-align: center;
}
.offer-title{
    font-size: 88px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: red;
    padding: 20px 0;
}
.offer-subTitle-1{
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: red;
}
.offer-subTitle-2{
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 48px;
}
